@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Lexend+Deca&display=swap');

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #090b1a;
}

.statscontainer {
  position: absolute;
  min-height: 50vh;
  display: flex;
  background-color: #1b1938;
  width: 70%;
  border-radius: 0.5rem;
}

.textarea {
  width: 50%;
  height:60vh;
  padding-left: 3rem;
  padding-right: 3rem;
}

.heading {
  margin-top: 3rem;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 2.2ch;
}

.insight {
  color: #aa5cdb;
}

.description {
  color: white;
  opacity: 0.5;
  font-size: 1.4ch;
  text-align: left;
  margin-top: 1rem;
  line-height: 1.3rem;
  padding-right: 1rem;
  font-family: 'Lexend Deca', sans-serif;
}

.stats {
  width: 30%;
  position:absolute;
  bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.number {
  color: white;
  font-weight: bold;
  font-size: 2ch;
  font-family: 'Inter', sans-serif;
}

.category {
  color: white;
  opacity: 0.5;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.1ch;
  text-transform: uppercase;
  margin-top: -1rem;
}

.imagearea {
  width:50%;
  height:60vh;
  background: rgb(77, 22, 109);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.imagearea .sideimage {
  width:100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  opacity: 0.5;
}

@media (max-width: 900px){
  .statscontainer {
    position: absolute;
    min-height: 70vh;
    display: flex;
    background-color: #1b1938;
    width: 80%;
    border-radius: 0.5rem;
  }

  .imagearea {
    width:50%;
    height:70vh;
    background: rgb(77, 22, 109);
  }
  
  .imagearea .sideimage {
    width:100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .container {
    height: 150vh;
    padding: 2rem;
  }
  
  .statscontainer {
    margin-top:3rem;
    height: 46rem;    
    background-color: #1b1938;
    width: 90%;
    border-radius: 0.5rem;
    position: absolute;
    margin-bottom: 3rem;
  }
  
  .textarea {
    width: 100%;
    /* height:60vh; */
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;  
    top: 19rem;  
  }
  
  .heading {
    text-align: center;
  }
    
  .description {
    text-align: center;
  }
  
  .stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -2rem;
    position: absolute;
    top: 12rem;
  }

  .companies, .templates, .queries {
    width: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .category {
    margin-top: -0.5rem;
  }
  
  .imagearea {
    position: absolute;
    top: 0;
    width:100%;
    height:18rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }
  
  .imagearea .sideimage {
    height: 18rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }
}

@media (max-width: 550px){
  .statscontainer {
    height:47rem
  }
  
  .stats {
    top: 13rem;
  }
}

@media (max-width: 429px){
  .statscontainer {
    height: 50rem
  }
  
  .stats {
    top: 16rem;
  }
}

@media (max-width: 375px){
  .statscontainer {
    height:51rem
  }
  
  .stats {
    top: 17rem;
  }
}